.select {
  margin: 10px 0px;
  width: 100%;
}

.createProjectBtn {
  font-family: inherit;
  margin-top: 2.5rem;
  color: rgba(102, 153, 255, 0.6);
  border: 1px solid rgba(102, 153, 255, 0.6);
  border-radius: 16px;
}
.createProjectBtn:hover {
  background-color: rgba(102, 153, 255, 0.4);
  border-color: rgba(102, 153, 255, 0.4);
  color: white;
}

/* .editor {
  border: 1px solid rgba(1, 1, 1, 0.3);
  font-size: 0.8rem;
  letter-spacing: 1px;
  font-family: inherit;
  resize: none;
  border-radius: 6px;
  height: 20vh;
  width: 96%;
  padding: 0.6rem;
}

.editor:focus{
    outline: none;
} */
