html, body{
  margin: 0;
  padding: 0;
  background-color: #ffff;
  color: #1111;
}

.ck-editor__editable {
  height: fit-content;
  /* max-width: 530px; */
  /* max-width: 90%; */
  max-width: 821px;
  min-height: 200px;
}

.ck-toolbar{
  height: auto;
  padding: 0 9.6px;
  max-width: 100%;
}
